<section class="contato-section">
    <div class="container">
        <div class="contato-content">
            <h2 class="section-title">Entre em contato conosco</h2>
            <p class="section-description">
                Tem interesse em receber nossas mentorias, patrocinar ou realizar uma parceria conosco? 
                Preencha nosso formulário de interesse e entraremos em contato!
            </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfVd_ZV2N5W38NZ3HyTGsuY-q2gYKbBh4XIttNgGy9e6m_EAQ/viewform?usp=publish-editor" target="_blank" class="cta-button">Preencher Formulário</a>
            <p class="contato-duvidas-text">
                Alguma dúvida sobre a equipe? <a href="https://forms.gle/Fhoae2fZjXo4GN7g9" target="_blank" rel="noopener">Envie sua dúvida</a> que entraremos em contato.
            </p>
        </div>
    </div>
</section>

